<html>
<head>
    <title>BSES Yamuna Power Limited</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <script src="~/JS/viewport.js"></script>
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

</head>
<body>

    <!-- Header -->
    <div id="header-wrapper">
        <header id="header" class="5grid">
            <div class="12u-first">

                <!-- Logo -->
                <h1><a href="#">
                    <img src="~/Content/Images/BSES_logo.png" /></a>
                </h1>
                <!-- Nav -->
                <nav>
                    @Html.ActionLink("Homepage", "Index")
                    @Html.ActionLink("User", "User", new { target = "_blank" })
                    @Html.ActionLink("Employee", "EmployeeRegistration","Main")
                    @Html.ActionLink("About", "About")
                    @Html.ActionLink("Contact", "Contact")
                </nav>

            </div>
        </header>
        <div id="banner">
            <div class="5grid 5grid-alt">
                <div class="6u-first">

                    <!-- Banner Copy -->
                    <p>The Outage Management System is an advanced computerized system which monitors and analyzes the whole process of fault restoration of power, from the receipt of consumer’s complaint & operation performed in the network to the normalization of supply including tracking of resources, in the power distribution and power supply system. This system gives an edge to BSES for providing quality and reliable services to its consumers.</p>
                </div>
                <div class="6u">

                    <!-- Banner Image -->
                    <a href="#" class="bordered-feature-image">
                        <img src="~/Images/banner.jpg" />
                    </a>

                </div>

                <div class="5grid-clear"></div>
            </div>
        </div>
    </div>

    <!-- Features -->
    <div id="features-wrapper">
        <div id="features">
            <div class="5grid">
                <div class="3u-first">

                    <!-- Feature #1 -->
                    <section>
                        <a href="#" class="bordered-feature-image">
                            <img src="~/Images/BSES.png" /></a>
                        <h2>Welcome to BSES in Delhi</h2>
                        <p>
                            The business of Delhi’s power distribution is effectively carried out by BRPL and BYPL which came into existence following the unbundling of Delhi Vidyut Board in July 2002 and caters to 32 lakh customers of two thirds of Delhi.							
                        </p>
                    </section>

                </div>
                <div class="3u">

                    <!-- Feature #2 -->
                    <section>
                        <a href="#" class="bordered-feature-image">
                            <img src="~/Images/Contact.png" />
                        </a>
                        <h2>Consumer Approach</h2>
                        <p>
                            BSES has come one step further of providing reliable and quality services to consumers by simplifying its consumer handling processes through interactive and integrated based approach.
                        </p>
                    </section>

                </div>
                <div class="3u">

                    <!-- Feature #3 -->
                    <section>
                        <a href="#" class="bordered-feature-image">
                            <img src="~/Images/BYPL.png" /></a>
                        <h2>Yamuna Power Limited</h2>
                        <p>
                            BYPL caters the power need of over 13.5 lakh customers spread over 200 sq. kms with a population density of 6750 per sq km of Central and East Delhi.
                        </p>
                    </section>

                </div>
                <div class="3u">

                    <!-- Feature #4 -->
                    <section>
                        <a href="#" class="bordered-feature-image">
                            <img src="~/Images/BRPL.png" /></a>
                        <h2>Rajdhani Power Limited</h2>
                        <p>
                            BRPL caters the power need of over 18.5 lakh customers spread over 750 sq. kms with a population density of 2465 per sq km of South and West Delhi.
                        </p>
                    </section>

                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div id="content-wrapper">
        <div id="content">
            <div class="5grid">
                <div class="4u-first">

                    <!-- Box #1 -->
                    <section>
                        <header>
                            <h2>How OMS Work</h2>
                            <h3>A subheading about how OMS work</h3>
                        </header>
                        <a href="#" class="feature-image">
                            <img src="~/Images/OMS.png" /></a>
                        <p>
                            OMS is an innovative computerized system which does the function of responding to the complaints of consumers.
                                        The system upon the criticality of the fault will be analyze from LT, HT & EHV levels and will be intimate
                                        the consumer about the approximate duration for its rectification.
                        </p>
                    </section>

                </div>
                <div class="4u">

                    <!-- Box #2 -->
                    <section>
                        <header>
                            <h2>Complain Registration Methods</h2>
                            <h3>A subheading about complain registration methods</h3>
                        </header>
                        <ul class="check-list">
                            <li>Via Short Message Service(SMS)</li>
                            <li>Via Interactive Voice Response System (IVRS)</li>
                            <li>From the OMS website</li>
                            <li>Phone call to Consumer Care Centre or Complaints Center </li>
                            <li>Personally visiting Complaint Centre</li>
                        </ul>
                    </section>

                </div>
                <div class="4u">

                    <!-- Box #3 -->
                    <section>
                        <header>
                            <h2>How to use Servies</h2>
                            <h3>And a final subheading about our clients</h3>
                        </header>
                        <ul class="quote-list">
                            <li>
                                <img src="~/Content/Images/sms.png" />
                                <p>
                                    Short Message Service(SMS)-:<br />
                                    NC to 5-61-61-08
                                </p>

                            </li>
                            <li>
                                <img src="~/Content/Images/IVRS.png" />
                                <p>Via Interactive Voice Response System (IVRS)-:<br />
                                    Dial 03999-9808</p>
                            </li>
                            <li>
                                <img src="~/Content/Images/OMS1.png" />
                                <p>From the OMS website-:<br />
                                    http://115.248.251.70/OMS</p>

                            </li>
                            <li>
                                <img src="~/Content/Images/call_center.png" />
                                <p>Phone call to Consumer Care Centre or direct Visting-:<br />
                                    http://115.248.251.70/OMS</p>

                            </li>

                        </ul>
                    </section>

                </div>
            </div>
        </div>
    </div>


    <!-- Copyright -->
    <div id="copyright">
        (c) 2012 Untitled Website. All rights reserved. Design by <a href="http://nodethirtythree.com/">nodethirtythree</a> + <a href="http://www.freecsstemplates.org/">FCT</a>. Images by <a href="http://fotogrph.com/">Fotogrph</a>.
    </div>

</body>
</html>
